language: go

go:
  - "1.11.x"
  - "1.12.x"
  - master

env:
  global:
    - GO111MODULE=on
    ### should not be necessary
    ### flaky on travis ci if bazelisk asks github to determine the version
    - USE_BAZEL_VERSION=0.28.1
    - GOPROXY=https://goproxy.io

script:
  - make CI="${CI}" TRAVIS="${TRAVIS}" ci-all

after_success:
  - make RELEASE=${RELEASE} GH_TOKEN=${GH_TOKEN} TRAVIS="${TRAVIS}" TRAVIS_BUILD_NUMBER="${TRAVIS_BUILD_NUMBER}" TRAVIS_BUILD_ID="${TRAVIS_BUILD_ID}" TRAVIS_JOB_NUMBER="${TRAVIS_JOB_NUMBER}" quay_cli_password=${quay_cli_password} release-flexy

notifications:
  slack:
    secure: gB2ymEPvD/32R6NU47G1XYzlODYctJdY3Y/RLCHASPylT+btDCkIFu7OHaZ3jQtkA38smunhJWly3T7Cys9Npk2e/xF4U3cTEFq89pn02/tMZZdLPnzLC0Yp9Iy/fnVFU5j4jqtxZD+W0RFqsgd/4iZpeymzlLsAbr8qc3PzaY6sG2OgaC37Umg8vonqHbkmPxeJJzMBG41007HvFwuMIlYtPSOH5HngC5BtjYRs4MmvKGuY1VzfrjnH+PwJe1P0PZL+GD+Tc6eaG64iO+5B2ALvVosmTD+o+bdwf14/nwKqx2fwBHpDpQCsbv+XdUCegVm6GaQCzkPaa6GCC3ZT5q64WX/iVKhYGJMjA2yvcmFsOZ03ykg0I6dS/bIiHJ5jC9TGUnRhRX5zGTkH4WKWAaoRkLrhdwtWr4HjbuYEEtokNEW+uOWXcdYW5Yh75QnlOGkIGSzzd7Z2ZSlxux1IUxgfxmgD0dIoRrsTIoV6r5gG4DQI4fL7hyWDr85201EAnxG4crQz09KdKZzT1XuXXdH4WI58oxv0Lqv1zyM3XXoDbJIn3jvwRoGLkrh1NOUPHnkfctfg3WI9cI3xqvBKomUtI1agbNi+EU4pnGIVqrCrVt7bSB4nv+kYlshWE2YkmGSPQsvBOWKjT+SUc/78L73NpGKVhd/9x7Uur8Vpsno=
