language: go

go:
  - "1.10.x"
  - "1.11.x"
  - master

before_install:
  - go get github.com/onsi/ginkgo/ginkgo
#  - curl https://glide.sh/get | sh
  - cp test_files/flexy/unit.test.files/gce.json /tmp/

script:
  - echo "${GOPATH}"
  - go version
  - ginkgo version
  - glide --version
#  - glide up -v
  - make build-flexy
  - make test-flexy
  - make code-gen
  - make build-code-gen
  - make build-http
  - make test-pb

after_success:
  - make RELEASE=${RELEASE} GH_TOKEN=${GH_TOKEN} TRAVIS="${TRAVIS}" TRAVIS_BUILD_NUMBER="${TRAVIS_BUILD_NUMBER}" TRAVIS_BUILD_ID="${TRAVIS_BUILD_ID}" TRAVIS_JOB_NUMBER="${TRAVIS_JOB_NUMBER}" release-flexy
