# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build-golong-110:
    docker:
      - image: circleci/golang:1.10
    working_directory: /go/src/github.com/hongkailiu/test-go
    steps:
      - checkout
      - setup_remote_docker

      - run: make CI="${CI}" CIRCLECI="${CIRCLECI}" ci-all

  build-golong-111:
    docker:
      - image: circleci/golang:1.11
    working_directory: /go/src/github.com/hongkailiu/test-go
    steps:
      - checkout
      - setup_remote_docker

      - run: make CI="${CI}" CIRCLECI="${CIRCLECI}" ci-all
  #https://github.com/CircleCI-Public/circleci-dockerfiles/tree/master/golang/images
  build-golong-latest:
    docker:
    - image: circleci/golang:1.12rc1
    working_directory: /go/src/github.com/hongkailiu/test-go
    steps:
    - checkout
    - setup_remote_docker

    - run: make CI="${CI}" CIRCLECI="${CIRCLECI}" ci-all

workflows:
  version: 2
  build_and_test:
    jobs:
      - build-golong-110
      - build-golong-111
      - build-golong-latest