# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build-golang-111:
    docker:
      - image: circleci/golang:1.11
    working_directory: /go/src/github.com/hongkailiu/test-go
    steps:
      - checkout
      - setup_remote_docker

      - run: make CI="${CI}" CIRCLECI="${CIRCLECI}" COVERALLS_TOKEN="${COVERALLS_TOKEN}" ci-all

  build-golang-112:
    docker:
      - image: quay.io/hongkailiu/test-go:circleci-0.0.6
        environment:
          GO111MODULE: "on"
          GOPROXY: "https://goproxy.io"
    working_directory: /go/src/github.com/hongkailiu/test-go
    steps:
      - checkout
      - setup_remote_docker
      ###
      - run: make CI="${CI}" CIRCLECI="${CIRCLECI}" COVERALLS_TOKEN="${COVERALLS_TOKEN}" ci-all
  #https://github.com/CircleCI-Public/circleci-dockerfiles/tree/master/golang/images

workflows:
  version: 2
  build_and_test:
    jobs:
      #- build-golang-111
      - build-golang-112
