version: 2
jobs:
  build-golang-114:
    docker:
      - image: circleci/golang:1.14
        environment:
          GO111MODULE: "on"
          GOPROXY: "https://goproxy.io"
    working_directory: /go/src/github.com/hongkailiu/test-go
    steps:
      - checkout
      - setup_remote_docker
      - run: make CI="${CI}" CIRCLECI="${CIRCLECI}" COVERALLS_TOKEN="${COVERALLS_TOKEN}" ci-all
workflows:
  version: 2
  build_and_test:
    jobs:
      - build-golang-114
