# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
    # specify the version
    - image: circleci/golang:1.11

    # Specify service dependencies here if necessary
    # CircleCI maintains a library of pre-built images
    # documented at https://circleci.com/docs/2.0/circleci-images/
    # - image: circleci/postgres:9.4

    #### TEMPLATE_NOTE: go expects specific checkout path representing url
    #### expecting it in the form of
    ####   /go/src/github.com/circleci/go-tool
    ####   /go/src/bitbucket.org/circleci/go-tool
    working_directory: /go/src/github.com/hongkailiu/test-go
    steps:
    - checkout
    - setup_remote_docker

    - run: go get github.com/onsi/ginkgo/ginkgo
    - run: cp test_files/flexy/unit.test.files/gce.json /tmp/

    # specify any bash command here prefixed with `run: `
    - run: pwd
    - run: echo "${GOPATH}"
    - run: go version
    - run: ginkgo version
    - run: docker version
    - run: make build-k8s
    - run: make build-oc
    - run: make build-swagger
    - run: make build-others
    - run: make build-flexy
    - run: make test-flexy
    - run: make code-gen
    - run: make build-code-gen
    - run: make build-http
    - run: make test-pb
    - run: make test-lc
    - run: make test-others
    - run: make build-ocptf
