global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - alert-manager:9093

rule_files:
  - "alert.rules.yml"

scrape_configs:
  - job_name: 'test-go'
    scheme: http
    static_configs:
      #- targets: ['web-hongkliu-run.b542.starter-us-east-2a.openshiftapps.com'] #['web.hongkliu-run.svc:8080']
      - targets: ['web:8080']
